{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    {% for post in page.get_children %}
      {% with  post=post.specific %}
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p class="meta">{{ post.date }}</p>
        <div class="intro">{{ post.intro }}</div>
      {% endwith %}
    {% endfor %}
{% endblock %}